### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [68]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [69]:
#change Student ID and School ID column names to school_id and student_id. Better name conventions.
school_data=school_data.rename(columns = {'School ID':'school_id'})
school_data=school_data.rename(columns = {'type':'school_type'})
student_data=student_data.rename(columns = {'Student ID':'student_id'})

In [71]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head(5).style.set_caption("School and Student Data Combined").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'navy'),
        ('font-size', '30px')
    ]
}])

## District Summary

* Calculate the total number of schools

In [54]:
total_schools = school_data['school_name'].nunique()
total_schools

15

* Calculate the total number of students

In [55]:
total_student_id = student_data['student_id'].nunique()
total_student_id

39170

* Calculate the total budget

In [56]:
total_budget = school_data['budget'].sum()
total_budget

24649428

* Calculate the average math score

In [57]:
avg_math = round(student_data['math_score'].mean(), 6)
avg_math

78.985371

 * Calculate the average reading score

In [58]:
avg_reading = round(student_data['reading_score'].mean(), 6)
avg_reading

81.87784

* Calculate the percentage of students with a passing math score (70 or greater)

In [59]:
studs_passing_math = school_data_complete.loc[school_data_complete["math_score"]>=70]["math_score"].count()/total_student_id

* Calculate the percentage of students with a passing reading score (70 or greater)

In [60]:
studs_passing_reading = school_data_complete.loc[school_data_complete["reading_score"]>=70]["reading_score"].count()/total_student_id

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

In [61]:
overall_passing = (studs_passing_reading + studs_passing_math)/2

* Create a dataframe to hold the above results

In [62]:
district_summary = pd.DataFrame({"Total Schools":[total_schools],
                                 "Total Students":[total_student_id],
                                 "Total Budget":[total_budget],
                                 "Average Math Score":[avg_math],
                                 "Average Reading Score":[avg_reading],
                                 "% Passing Math":[studs_passing_math],
                                 "% Passing Reading":[studs_passing_reading],
                                 "Overall Passing Rate":[overall_passing]                            
                                })

#cleaner formating
district_summary['Total Budget'] = district_summary['Total Budget'].map("${:,.2f}".format)
district_summary['Average Math Score'] = district_summary['Average Math Score'].map("{:,.2f}".format)
district_summary['Average Reading Score'] = district_summary['Average Reading Score'].map("{:,.2f}".format)
district_summary['Total Students'] = district_summary['Total Students'].map("{:,}".format)
district_summary['Overall Passing Rate'] = district_summary['Overall Passing Rate'].map("{:.1%}".format)
district_summary['% Passing Math'] = district_summary['% Passing Math'].map("{:.1%}".format)
district_summary['% Passing Reading'] = district_summary['% Passing Reading'].map("{:.1%}".format)


#formating
district_summary.style.set_caption("District Summary").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'navy'),
        ('font-size', '30px')
    ]
}])

## School Summary

* Create an overview table that summarizes key metrics about each school, including:

* School Name

In [14]:
school_by = school_data_complete.set_index('school_name').groupby(['school_name'])

  * School Type

In [15]:
school_district = school_data.set_index('school_name')['school_type']

  * Total Students

In [16]:
students_per_school = school_by["student_id"].count()

  * Total School Budget

In [17]:
budget_per_school = school_data.set_index('school_name')['budget']

  * Per Student Budget

In [18]:
budget_per_student = budget_per_school/students_per_school

  * Average Math Score

In [19]:
avg_math_score = school_by["math_score"].mean()

  * Average Reading Score

In [20]:
avg_reading_score = school_by['reading_score'].mean()

  * % Passing Math

In [21]:
percent_pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['student_id'].count()/students_per_school

  * % Passing Reading

In [22]:
percent_pass_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['student_id'].count()/students_per_school

  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [23]:
overall_pass_rate = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['student_id'].count()/students_per_school

  
* Create a dataframe to hold the above results

In [49]:
school_summary = pd.DataFrame({
                               "School Type" : school_district,
                               "Total Students" : students_per_school,
                               "Total School Budget" : budget_per_school,
                               "Per Student Budget" : budget_per_student,
                               "Average Math Score" : avg_math_score,
                               "Average Reading Score" : avg_reading_score,
                               "% Passing Math": percent_pass_math,
                               "% Passing Reading" : percent_pass_reading,
                               "Overall Passing Rate" : overall_pass_rate
    
                            })

#cleaner formating

school_summary['Total Students'] = school_summary['Total Students'].map("{:,}".format)
school_summary['Total School Budget'] = school_summary['Total School Budget'].map("{:,}".format)
school_summary['Per Student Budget'] = school_summary['Per Student Budget'].map("{:.2f}".format)
school_summary['Average Math Score'] = school_summary['Average Math Score'].map("{:.1f}".format)
school_summary['Average Reading Score'] = school_summary['Average Reading Score'].map("{:.1f}".format)
school_summary['% Passing Math'] = school_summary['% Passing Math'].map("{:.2%}".format)
school_summary['% Passing Reading'] = school_summary['% Passing Reading'].map("{:.2%}".format)
school_summary['Overall Passing Rate'] = school_summary['Overall Passing Rate'].map("{:.2%}".format)



 
#formating. adding caption
school_summary.style.set_caption("School Summary").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'navy'),
        ('font-size', '30px')
    ]
}])

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [48]:
sorting_sch = school_summary.sort_values(['Overall Passing Rate'], ascending=[False])

# formating with caption
sorting_sch.head(5).style.set_caption("Top Performing Schools").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'navy'),
        ('font-size', '30px')
    ]
}])

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [47]:
bottom_schools = sorting_sch.tail(5)
bottom_schools.sort_values(['Overall Passing Rate'], ascending=[True])
bottom_schools.head(5).style.set_caption("Bottom Performing Schools").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'navy'),
        ('font-size', '30px')
    ]
}])

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  * Group each series by school

In [27]:
math_9th = school_data_complete.loc[school_data_complete["grade"] == '9th'].groupby('school_name')['math_score'].mean()
math_10th = school_data_complete.loc[school_data_complete["grade"] == '10th'].groupby('school_name')['math_score'].mean()
math_11th = school_data_complete.loc[school_data_complete["grade"] == '11th'].groupby('school_name')['math_score'].mean()
math_12th = school_data_complete.loc[school_data_complete["grade"] == '12th'].groupby('school_name')['math_score'].mean()

  
  * Combine the series into a dataframe

In [28]:
avg_math_df = pd.DataFrame({"9th": math_9th,
                            "10th": math_10th,
                            "11th": math_11th,
                            "12th": math_12th,
    
                            })

  
  * Optional: give the displayed data cleaner formatting

In [75]:
#setting the order
avg_math_df = avg_math_df[["9th","10th","11th","12th"]]

avg_math_df.style.set_caption("Math Scores by Grade").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'navy'),
        ('font-size', '30px')
    ]
}])

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [77]:
math_9th = school_data_complete.loc[school_data_complete["grade"] == '9th'].groupby('school_name')['reading_score'].mean()
math_10th = school_data_complete.loc[school_data_complete["grade"] == '10th'].groupby('school_name')['reading_score'].mean()
math_11th = school_data_complete.loc[school_data_complete["grade"] == '11th'].groupby('school_name')['reading_score'].mean()
math_12th = school_data_complete.loc[school_data_complete["grade"] == '12th'].groupby('school_name')['reading_score'].mean()

avg_reading_df = pd.DataFrame({"9th": math_9th,
                            "10th": math_10th,
                            "11th": math_11th,
                            "12th": math_12th,
    
                            })
#setting the order
avg_reading_df = avg_reading_df[["9th","10th","11th","12th"]]

avg_reading_df.style.set_caption("Reading Scores by Grade").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'navy'),
        ('font-size', '30px')
    ]
}])

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:

In [78]:
bins = [0, 584.999, 614.999, 644.999, 999999]
# create group of categories
group_name = ['< $585', "$585-615", "$615-645", "> $646"]

In [79]:
school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = group_name)

#group by spending
by_spending = school_data_complete.groupby('spending_bins')

#calculations
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['student_id'].count()/by_spending['student_id'].count()
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['student_id'].count()/by_spending['school_id'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('spending_bins')['student_id'].count()/by_spending['student_id'].count()

            
# df build            
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
#reorder columns
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_name)

#formating
scores_by_spend.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'}).set_caption("Scores by School Spending").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'navy'),
        ('font-size', '30px')
    ]
}])

## Scores by School Size

* Perform the same operations as above, based on school size.

In [80]:
# create size bins
bins = [0, 999, 1999, 99999999999]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (>2000)"]
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], bins, labels = group_name)

#group by spending
size_by = school_data_complete.groupby('size_bins')

#calculations 
avg_math = size_by['math_score'].mean()
avg_read = size_by['math_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['student_id'].count()/size_by['student_id'].count()
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['student_id'].count()/size_by['student_id'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['student_id'].count()/size_by['student_id'].count()

            
# df build            
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
#reorder columns
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_name)

#formating
scores_by_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'}).set_caption("Scores by School Size").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'navy'),
        ('font-size', '30px')
    ]
}])

## Scores by School Type

* Perform the same operations as above, based on school type

In [74]:
# group by type of school
by_type = school_data_complete.groupby("school_type")

#calculations 
avg_math = by_type['math_score'].mean()
avg_read = by_type['math_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_type')['student_id'].count()/by_type['student_id'].count()
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_type')['student_id'].count()/by_type['student_id'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_type')['student_id'].count()/by_type['student_id'].count()

# df build            
scores_by_sch = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})
    
#reorder columns
scores_by_sch = scores_by_sch[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]
scores_by_sch.index.name = "Type of School"


#formating
scores_by_sch.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'}).set_caption("Scores by School Type").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'navy'),
        ('font-size', '30px')
    ]
}])