### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [197]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [198]:
#change Student ID and School ID column names to school_id and student_id. Better name conventions.
school_data=school_data.rename(columns = {'School ID':'school_id'})
school_data=school_data.rename(columns = {'type':'school_type'})
student_data=student_data.rename(columns = {'Student ID':'student_id'})

In [199]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

#convert budget and size data type to integer 
school_data["budget"] = pd.to_numeric(school_data["budget"])
school_data["size"] = pd.to_numeric(school_data["size"])

#convert score / size / budget data type to integer 
school_data_complete["reading_score"] = pd.to_numeric(school_data_complete["reading_score"])
school_data_complete["math_score"] = pd.to_numeric(school_data_complete["math_score"])
school_data_complete["size"] = pd.to_numeric(school_data_complete["size"])
school_data_complete["budget"] = pd.to_numeric(school_data_complete["budget"])

## District Summary

* Calculate the total number of schools

In [200]:
total_schools = school_data['school_name'].nunique()
total_schools

15

* Calculate the total number of students

In [201]:
total_student_id = student_data['student_id'].nunique()
total_student_id

39170

* Calculate the total budget

In [202]:
total_budget = school_data['budget'].sum()
total_budget

24649428

* Calculate the average math score

In [203]:
avg_math = round(student_data['math_score'].mean(), 6)
avg_math

78.985371

 * Calculate the average reading score

In [204]:
avg_reading = round(student_data['reading_score'].mean(), 6)
avg_reading

81.87784

* Calculate the percentage of students with a passing math score (70 or greater)

In [205]:
#Find the percentage of math students scoring above 70%
studs_passing_math = school_data_complete.loc[school_data_complete["math_score"]>=70]["math_score"].count()/total_student_id

* Calculate the percentage of students with a passing reading score (70 or greater)

In [206]:
#Find the percentage of reading students scoring above 70%
studs_passing_reading = school_data_complete.loc[school_data_complete["reading_score"]>=70]["reading_score"].count()/total_student_id

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

In [207]:
overall_passing = (studs_passing_reading + studs_passing_math)/2
#pct_overall_passing = round((overall_passing)*100,6)

* Create a dataframe to hold the above results

In [210]:
#create a new dataframe for summary
district_summary = pd.DataFrame({"Total Schools":[total_schools],
                                 "Total Students":[total_student_id],
                                 "Total Budget":[total_budget],
                                 "Average Math Score":[avg_math],
                                 "Average Reading Score":[avg_reading],
                                 "% Passing Math":[studs_passing_math],
                                 "% Passing Reading":[studs_passing_reading],
                                 "Overall Passing Rate":[overall_passing]                            
                                })

#rearrange columns
district_summary = district_summary[["Total Schools",
                                 "Total Students",
                                 "Total Budget",
                                 "Average Math Score",
                                 "Average Reading Score",
                                 "% Passing Math",
                                 "% Passing Reading",
                                 "Overall Passing Rate"                            
                                    ]]

#change format 
district_summary['Total Budget'] = district_summary['Total Budget'].map("${:,.2f}".format)
district_summary['Average Math Score'] = district_summary['Average Math Score'].map("{:,.2f}".format)
district_summary['Average Reading Score'] = district_summary['Average Reading Score'].map("{:,.2f}".format)
district_summary['Total Students'] = district_summary['Total Students'].map("{:,}".format)
district_summary['Overall Passing Rate'] = district_summary['Overall Passing Rate'].map("{:.1%}".format)
district_summary['% Passing Math'] = district_summary['% Passing Math'].map("{:.1%}".format)
district_summary['% Passing Reading'] = district_summary['% Passing Reading'].map("{:.1%}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,75.0%,85.8%,80.4%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:

* School Name

In [211]:
#school_by = school_data_complete.set_index('school_name').groupby(['school_name'])
#school_by = school_data_complete.groupby(['school_name'])
school_by = school_data_complete.set_index('school_name').groupby(['school_name'])

  * School Type

In [223]:
#school_district = school_by['school_type'].first()
school_district = school_data.set_index('school_name')['school_type']

  * Total Students

In [224]:
#students_per_school = school_by['student_id'].count()
students_per_school = school_by["student_id"].count()

  * Total School Budget

In [225]:
#budget_per_school = school_data.set_index('school_name')['budget']
budget_per_school = school_data.set_index('school_name')['budget']

  * Per Student Budget

In [226]:
#budget_per_student = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']
budget_per_student = budget_per_school/students_per_school

  * Average Math Score

In [227]:
#avg_math_per_school = school_by['math_score'].mean()
avg_math_score = school_by["math_score"].mean()

  * Average Reading Score

In [228]:
avg_reading_score = school_by['reading_score'].mean()

  * % Passing Math

In [229]:
percent_pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['student_id'].count()/students_per_school

  * % Passing Reading

In [230]:
percent_pass_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['student_id'].count()/students_per_school

  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [231]:
overall_pass_rate = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['student_id'].count()/students_per_school

  
* Create a dataframe to hold the above results

In [237]:
school_summary = pd.DataFrame({
                               "School Type" : school_district,
                               "Total Students" : students_per_school,
                               "Total School Budget" : budget_per_school,
                               "Per Student Budget" : budget_per_student,
                               "Average Math Score" : avg_math_score,
                               "Average Reading Score" : avg_reading_score,
                               "% Passing Math": percent_pass_math,
                               "% Passing Reading" : percent_pass_reading,
                               "Overall Passing Rate" : overall_pass_rate
    
                            })

#rearrange the order

#school_summary = school_summary [[ "School Type", 
                                   #"Total Students", 
                                   #"Total School Budget",
                                   #"Per Student Budget",
                                   #"Average Math Score",
                                   #"Average Reading Score",
                                  # "% Passing Math",
                                  # "% Passing Reading",
                                  # "Overall Passing Rate"
                                   
                                  # ]]
#cleaner format

school_summary['Total Students'] = school_summary['Total Students'].map("{:,}".format)
school_summary['Total School Budget'] = school_summary['Total School Budget'].map("{:,}".format)
school_summary['Per Student Budget'] = school_summary['Per Student Budget'].map("{:.2f}".format)
school_summary['Average Math Score'] = school_summary['Average Math Score'].map("{:.1f}".format)
school_summary['Average Reading Score'] = school_summary['Average Reading Score'].map("{:.1f}".format)
school_summary['% Passing Math'] = school_summary['% Passing Math'].map("{:.2%}".format)
school_summary['% Passing Reading'] = school_summary['% Passing Reading'].map("{:.2%}".format)
school_summary['Overall Passing Rate'] = school_summary['Overall Passing Rate'].map("{:.2%}".format)

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,"4,976","3,124,928",628.00,77.0,81.0,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","1,081,356",582.00,83.1,84.0,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","1,884,411",639.00,76.7,81.2,65.99%,80.74%,53.20%
Ford High School,District,"2,739","1,763,916",644.00,77.1,80.7,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","917,500",625.00,83.4,83.8,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","3,022,020",652.00,77.3,80.9,66.75%,80.86%,53.53%
Holden High School,Charter,427,"248,087",581.00,83.8,83.8,92.51%,96.25%,89.23%
Huang High School,District,"2,917","1,910,635",655.00,76.6,81.2,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","3,094,650",650.00,77.1,81.0,66.06%,81.22%,53.54%
Pena High School,Charter,962,"585,858",609.00,83.8,84.0,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","2,547,363",637.00,76.8,80.7,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","1,056,600",600.00,83.4,83.7,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","1,043,130",638.00,83.4,83.8,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","1,319,574",578.00,83.3,84.0,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","1,049,400",583.00,83.7,84.0,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type