### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [299]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [300]:
#change Student ID and School ID column names to school_id and student_id. Better name conventions.
school_data=school_data.rename(columns = {'School ID':'school_id'})
school_data=school_data.rename(columns = {'type':'school_type'})
student_data=student_data.rename(columns = {'Student ID':'student_id'})

In [301]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

#convert budget and size data type to integer 
school_data["budget"] = pd.to_numeric(school_data["budget"])
school_data["size"] = pd.to_numeric(school_data["size"])

#convert score / size / budget data type to integer 
school_data_complete["reading_score"] = pd.to_numeric(school_data_complete["reading_score"])
school_data_complete["math_score"] = pd.to_numeric(school_data_complete["math_score"])
school_data_complete["size"] = pd.to_numeric(school_data_complete["size"])
school_data_complete["budget"] = pd.to_numeric(school_data_complete["budget"])

## District Summary

* Calculate the total number of schools

In [302]:
total_schools = school_data['school_name'].nunique()
total_schools

15

* Calculate the total number of students

In [303]:
total_student_id = student_data['student_id'].nunique()
total_student_id

39170

* Calculate the total budget

In [304]:
total_budget = school_data['budget'].sum()
total_budget

24649428

* Calculate the average math score

In [305]:
avg_math = round(student_data['math_score'].mean(), 6)
avg_math

78.985371

 * Calculate the average reading score

In [306]:
avg_reading = round(student_data['reading_score'].mean(), 6)
avg_reading

81.87784

* Calculate the percentage of students with a passing math score (70 or greater)

In [307]:
#Find the percentage of math students scoring above 70%
studs_passing_math = school_data_complete.loc[school_data_complete["math_score"]>=70]["math_score"].count()/total_student_id

* Calculate the percentage of students with a passing reading score (70 or greater)

In [308]:
#Find the percentage of reading students scoring above 70%
studs_passing_reading = school_data_complete.loc[school_data_complete["reading_score"]>=70]["reading_score"].count()/total_student_id

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

In [309]:
overall_passing = (studs_passing_reading + studs_passing_math)/2
#pct_overall_passing = round((overall_passing)*100,6)

* Create a dataframe to hold the above results

In [310]:
#create a new dataframe for summary
district_summary = pd.DataFrame({"Total Schools":[total_schools],
                                 "Total Students":[total_student_id],
                                 "Total Budget":[total_budget],
                                 "Average Math Score":[avg_math],
                                 "Average Reading Score":[avg_reading],
                                 "% Passing Math":[studs_passing_math],
                                 "% Passing Reading":[studs_passing_reading],
                                 "Overall Passing Rate":[overall_passing]                            
                                })

#cleaner formating
district_summary['Total Budget'] = district_summary['Total Budget'].map("${:,.2f}".format)
district_summary['Average Math Score'] = district_summary['Average Math Score'].map("{:,.2f}".format)
district_summary['Average Reading Score'] = district_summary['Average Reading Score'].map("{:,.2f}".format)
district_summary['Total Students'] = district_summary['Total Students'].map("{:,}".format)
district_summary['Overall Passing Rate'] = district_summary['Overall Passing Rate'].map("{:.1%}".format)
district_summary['% Passing Math'] = district_summary['% Passing Math'].map("{:.1%}".format)
district_summary['% Passing Reading'] = district_summary['% Passing Reading'].map("{:.1%}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,75.0%,85.8%,80.4%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:

* School Name

In [311]:
#school_by = school_data_complete.set_index('school_name').groupby(['school_name'])
#school_by = school_data_complete.groupby(['school_name'])
school_by = school_data_complete.set_index('school_name').groupby(['school_name'])

  * School Type

In [312]:
#school_district = school_by['school_type'].first()
school_district = school_data.set_index('school_name')['school_type']

  * Total Students

In [313]:
#students_per_school = school_by['student_id'].count()
students_per_school = school_by["student_id"].count()

  * Total School Budget

In [314]:
#budget_per_school = school_data.set_index('school_name')['budget']
budget_per_school = school_data.set_index('school_name')['budget']

  * Per Student Budget

In [315]:
#budget_per_student = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']
budget_per_student = budget_per_school/students_per_school

  * Average Math Score

In [316]:
#avg_math_per_school = school_by['math_score'].mean()
avg_math_score = school_by["math_score"].mean()

  * Average Reading Score

In [317]:
avg_reading_score = school_by['reading_score'].mean()

  * % Passing Math

In [318]:
percent_pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['student_id'].count()/students_per_school

  * % Passing Reading

In [319]:
percent_pass_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['student_id'].count()/students_per_school

  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [320]:
overall_pass_rate = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['student_id'].count()/students_per_school

  
* Create a dataframe to hold the above results

In [321]:
school_summary = pd.DataFrame({
                               "School Type" : school_district,
                               "Total Students" : students_per_school,
                               "Total School Budget" : budget_per_school,
                               "Per Student Budget" : budget_per_student,
                               "Average Math Score" : avg_math_score,
                               "Average Reading Score" : avg_reading_score,
                               "% Passing Math": percent_pass_math,
                               "% Passing Reading" : percent_pass_reading,
                               "Overall Passing Rate" : overall_pass_rate
    
                            })

#cleaner formating

school_summary['Total Students'] = school_summary['Total Students'].map("{:,}".format)
school_summary['Total School Budget'] = school_summary['Total School Budget'].map("{:,}".format)
school_summary['Per Student Budget'] = school_summary['Per Student Budget'].map("{:.2f}".format)
school_summary['Average Math Score'] = school_summary['Average Math Score'].map("{:.1f}".format)
school_summary['Average Reading Score'] = school_summary['Average Reading Score'].map("{:.1f}".format)
school_summary['% Passing Math'] = school_summary['% Passing Math'].map("{:.2%}".format)
school_summary['% Passing Reading'] = school_summary['% Passing Reading'].map("{:.2%}".format)
school_summary['Overall Passing Rate'] = school_summary['Overall Passing Rate'].map("{:.2%}".format)

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,"4,976","3,124,928",628.00,77.0,81.0,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","1,081,356",582.00,83.1,84.0,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","1,884,411",639.00,76.7,81.2,65.99%,80.74%,53.20%
Ford High School,District,"2,739","1,763,916",644.00,77.1,80.7,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","917,500",625.00,83.4,83.8,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","3,022,020",652.00,77.3,80.9,66.75%,80.86%,53.53%
Holden High School,Charter,427,"248,087",581.00,83.8,83.8,92.51%,96.25%,89.23%
Huang High School,District,"2,917","1,910,635",655.00,76.6,81.2,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","3,094,650",650.00,77.1,81.0,66.06%,81.22%,53.54%
Pena High School,Charter,962,"585,858",609.00,83.8,84.0,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","2,547,363",637.00,76.8,80.7,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","1,056,600",600.00,83.4,83.7,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","1,043,130",638.00,83.4,83.8,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","1,319,574",578.00,83.3,84.0,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","1,049,400",583.00,83.7,84.0,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [322]:
sorting_sch = school_summary.sort_values(['Overall Passing Rate'], ascending=[False])
sorting_sch.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,"1,858","1,081,356",582.00,83.1,84.0,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","1,043,130",638.00,83.4,83.8,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","917,500",625.00,83.4,83.8,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","1,319,574",578.00,83.3,84.0,93.87%,96.54%,90.58%
Pena High School,Charter,962,"585,858",609.00,83.8,84.0,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [323]:
bottom_schools = sorting_sch.tail(5)
bottom_schools.sort_values(['Overall Passing Rate'], ascending=[True])
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Johnson High School,District,"4,761","3,094,650",650.00,77.1,81.0,66.06%,81.22%,53.54%
Hernandez High School,District,"4,635","3,022,020",652.00,77.3,80.9,66.75%,80.86%,53.53%
Huang High School,District,"2,917","1,910,635",655.00,76.6,81.2,65.68%,81.32%,53.51%
Figueroa High School,District,"2,949","1,884,411",639.00,76.7,81.2,65.99%,80.74%,53.20%
Rodriguez High School,District,"3,999","2,547,363",637.00,76.8,80.7,66.37%,80.22%,52.99%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  * Group each series by school

In [324]:
math_9th = school_data_complete.loc[school_data_complete["grade"] == '9th'].groupby('school_name')['math_score'].mean()
math_10th = school_data_complete.loc[school_data_complete["grade"] == '10th'].groupby('school_name')['math_score'].mean()
math_11th = school_data_complete.loc[school_data_complete["grade"] == '11th'].groupby('school_name')['math_score'].mean()
math_12th = school_data_complete.loc[school_data_complete["grade"] == '12th'].groupby('school_name')['math_score'].mean()

  
  * Combine the series into a dataframe

In [325]:
avg_math_df = pd.DataFrame({"9th": math_9th,
                            "10th": math_10th,
                            "11th": math_11th,
                            "12th": math_12th,
    
                            })

  
  * Optional: give the displayed data cleaner formatting

In [326]:
#confirm the order
avg_math_df = avg_math_df[["9th","10th","11th","12th"]]

avg_math_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [327]:
math_9th = school_data_complete.loc[school_data_complete["grade"] == '9th'].groupby('school_name')['reading_score'].mean()
math_10th = school_data_complete.loc[school_data_complete["grade"] == '10th'].groupby('school_name')['reading_score'].mean()
math_11th = school_data_complete.loc[school_data_complete["grade"] == '11th'].groupby('school_name')['reading_score'].mean()
math_12th = school_data_complete.loc[school_data_complete["grade"] == '12th'].groupby('school_name')['reading_score'].mean()

avg_reading_df = pd.DataFrame({"9th": math_9th,
                            "10th": math_10th,
                            "11th": math_11th,
                            "12th": math_12th,
    
                            })
#confirm the order
avg_reading_df = avg_reading_df[["9th","10th","11th","12th"]]

avg_reading_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:

In [381]:
school_summary["Average Math Score"] = pd.to_numeric(school_summary["Average Math Score"])
school_summary["Average Reading Score"] = pd.to_numeric(school_summary["Average Reading Score"])

school_summary["Per Student Budget"] = pd.to_numeric(school_summary["Per Student Budget"])

school_summary["% Passing Math"] = school_summary["% Passing Math"].replace('%', '', regex=True).astype('float')
school_summary["% Passing Math"] = pd.to_numeric(school_summary["% Passing Math"])

school_summary["% Passing Reading"] = school_summary["% Passing Reading"].replace('%', '', regex=True).astype('float')
school_summary["% Passing Reading"] = pd.to_numeric(school_summary["% Passing Reading"])

# create the bins in which Data will be held
bins = [0, 584.999, 614.999, 644.999, 999999]
# create group of categories
group_name = ['< $585', "$585-615", "$615-645", "> $646"]

# putting data into categories
school_summary['Spending Ranges (Per Student)'] = pd.cut(school_summary['Per Student Budget'], bins = bins, labels = group_name)

# group the data set by spending ranges
by_spending_range = school_summary.groupby(['Spending Ranges (Per Student)'])

# calculate score and passing rate by Spending Ranges (Per Student)
mean_math_score = by_spending_range["Average Math Score"].mean()
mean_reading_score = by_spending_range["Average Reading Score"].mean()
mean_percent_math = by_spending_range["% Passing Math"].mean()
mean_percent_reading = by_spending_range["% Passing Reading"].mean()
overall_percent_pass = (mean_percent_math + mean_percent_reading)/2

#create a df to store Scores by School Spending
scores_by_school_spending = pd.DataFrame({"Average Math Score":mean_math_score,
                                          "Average Reading Score":mean_reading_score,
                                          "% Passing Math":mean_percent_math,
                                          "% Passing Reading":mean_percent_reading,
                                          "% Overall Passing Rate":overall_percent_pass
                                         })

# reformating
scores_by_school_spending['Average Math Score'] = scores_by_school_spending['Average Math Score'].map("{:,.2f}".format)
scores_by_school_spending['Average Reading Score'] = scores_by_school_spending['Average Reading Score'].map("{:,.2f}".format)
scores_by_school_spending['% Passing Math'] = scores_by_school_spending['% Passing Math'].map("{:.2f}".format)
scores_by_school_spending['% Passing Reading'] = scores_by_school_spending['% Passing Reading'].map("{:.2f}".format)
scores_by_school_spending['% Overall Passing Rate'] = scores_by_school_spending['% Overall Passing Rate'].map("{:.2f}".format)

#rearrage columns
scores_by_school_spending = scores_by_school_spending [["Average Math Score",
                            "Average Reading Score",
                            "% Passing Math",
                            "% Passing Reading",
                            "% Overall Passing Rate"]]

# print out the table
scores_by_school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
< $585,83.47,83.95,93.46,96.61,95.03
$585-615,83.60,83.85,94.23,95.90,95.06
$615-645,79.07,81.87,75.67,86.11,80.89
> $646,77.00,81.03,66.16,81.13,73.65

## Scores by School Size

* Perform the same operations as above, based on school size.

In [379]:
# create the bins in which Data will be held
bins1 = [0, 999.999, 1999.999, 999999]
# create group of categories
group_name1 = ['Small (<1000)', "Medium (1000-2000)", "Large (>2000)"]

# putting data into categories
school_summary["Total Students"] = school_summary["Total Students"].replace(',', '', regex=True).astype('float')
school_summary['Total Students'] = pd.to_numeric(school_summary['Total Students'])
school_summary['School Size'] = pd.cut(school_summary['Total Students'], bins = bins1, labels = group_name1)

# group the data set by school size
by_size = school_summary.groupby(['School Size'])

# calculate score and passing rate by school size
mean_math_score = by_size["Average Math Score"].mean()
mean_reading_score = by_size["Average Reading Score"].mean()
mean_percent_math = by_size["% Passing Math"].mean()
mean_percent_reading = by_size["% Passing Reading"].mean()
overall_percent_pass = (mean_percent_math + mean_percent_reading)/2



#create a df to store Scores by School Size
by_size_df = pd.DataFrame({"Average Math Score":mean_math_score,
                                          "Average Reading Score":mean_reading_score,
                                          "% Passing Math":mean_percent_math,
                                          "% Passing Reading":mean_percent_reading,
                                          "% Overall Passing Rate":overall_percent_pass
                                         })

# reformating
by_size_df['Average Math Score'] = by_size_df['Average Math Score'].map("{:,.2f}".format)
by_size_df['Average Reading Score'] = by_size_df['Average Reading Score'].map("{:,.2f}".format)
by_size_df['% Passing Math'] = by_size_df['% Passing Math'].map("{:.2f}".format)
by_size_df['% Passing Reading'] = by_size_df['% Passing Reading'].map("{:.2f}".format)
by_size_df['% Overall Passing Rate'] = by_size_df['% Overall Passing Rate'].map("{:.2f}".format)

#rearrage columns
by_size_df = by_size_df [["Average Math Score",
                            "Average Reading Score",
                            "% Passing Math",
                            "% Passing Reading",
                            "% Overall Passing Rate"]]

# print out the table
by_size_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.80,83.90,93.55,96.10,94.83
Medium (1000-2000),83.40,83.86,93.60,96.79,95.19
Large (>2000),77.74,81.34,69.96,82.77,76.37

## Scores by School Type

* Perform the same operations as above, based on school type

In [373]:
# group the data set by school type
by_school_type = school_summary.groupby(['School Type'])

# calculate score and passing rate by school type
mean_math_score = by_school_type["Average Math Score"].mean()
mean_reading_score = by_school_type["Average Reading Score"].mean()
mean_percent_math = by_school_type["% Passing Math"].mean()
mean_percent_reading = by_school_type["% Passing Reading"].mean()
overall_percent_pass = (mean_percent_math + mean_percent_reading)/2



#create a df to store Scores by School Type
by_shool_type_df = pd.DataFrame({"Average Math Score":mean_math_score,
                                          "Average Reading Score":mean_reading_score,
                                          "% Passing Math":mean_percent_math,
                                          "% Passing Reading":mean_percent_reading,
                                          "% Overall Passing Rate":overall_percent_pass
                                         })

# reformating
#by_shool_type_df['Average Math Score'] = by_shool_type_df['Average Math Score'].map("{:,.2f}".format)
#by_shool_type_df['Average Reading Score'] = by_shool_type_df['Average Reading Score'].map("{:,.2f}".format)
#by_shool_type_df['% Passing Math'] = by_shool_type_df['% Passing Math'].map("{:.2f}".format)
#by_shool_type_df['% Passing Reading'] = by_shool_type_df['% Passing Reading'].map("{:.2f}".format)
#by_shool_type_df['% Overall Passing Rate'] = by_shool_type_df['% Overall Passing Rate'].map("{:.2f}".format)

#rearrage columns
by_shool_type_df = by_shool_type_df [["Average Math Score",
                            "Average Reading Score",
                            "% Passing Math",
                            "% Passing Reading",
                            "% Overall Passing Rate"]]

# print out the table
by_shool_type_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.487500,83.887500,93.620000,96.586250,95.103125
District,76.942857,80.957143,66.548571,80.798571,73.673571