### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [23]:
#change Student ID and School ID column names to school_id and student_id. Better name conventions.
school_data=school_data.rename(columns = {'School ID':'school_id'})
school_data=school_data.rename(columns = {'type':'school_type'})
student_data=student_data.rename(columns = {'Student ID':'student_id'})

In [24]:
# Create the bins to hold grade values and a grade names list hold the associated grading letter   
grade_bins = [0, 59.9, 69.9, 79.9, 89.9, 100]

# Create the names for the five bins
grade_names = ["F", "D", "C", "B", "A"]

In [25]:
#Student Data with letter grades. This was for my own logic understanding and interest.
student_data["reading_grade"] = pd.cut(student_data["reading_score"], grade_bins, labels=grade_names, include_lowest=True)
student_data["math_grade"] = pd.cut(student_data["math_score"], grade_bins, labels=grade_names, include_lowest=True)

In [70]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,student_id,student_name,gender,grade,school_name,reading_score,math_score,reading_grade,math_grade,school_id,school_type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,D,C,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,A,D,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,A,D,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,D,F,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,A,B,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,A,A,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,A,C,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,C,B,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,A,A,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,A,C,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

In [27]:
total_schools = school_data['school_name'].nunique()
total_schools

15

* Calculate the total number of students

In [28]:
total_student_id = student_data['student_id'].nunique()
total_student_id

39170

* Calculate the total budget

In [29]:
total_budget = school_data['budget'].sum()
total_budget

24649428

* Calculate the average math score

In [30]:
avg_math = round(student_data['math_score'].mean(), 6)
avg_math

78.985371

 * Calculate the average reading score

In [31]:
avg_reading = round(student_data['reading_score'].mean(), 6)
avg_reading

81.87784

* Calculate the percentage of students with a passing math score (70 or greater)

In [32]:
###### Find the percentage of math students scoring above 70%
studs_passing_math = student_data.loc[student_data['math_score'] >= 70]['math_score'].count()
#pct_pass_math = round((studs_passing_math/total_student_id).sum()*100, 1).astype(str) + '%'
pct_pass_math = round((studs_passing_math/total_student_id).sum()*100,6)
pct_pass_math

74.980853

* Calculate the percentage of students with a passing reading score (70 or greater)

In [33]:
#Find the percentage of reading students scoring above 70%
studs_passing_reading = student_data.loc[student_data['reading_score'] >= 70]['reading_score'].count()
#pct_pass_reading = round((studs_passing_reading/total_student_id).sum()*100, 1).astype(str) + '%'
pct_pass_reading = round((studs_passing_reading/total_student_id).sum()*100,6)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

In [34]:
overall_passing = student_data[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)]['student_id'].count()/total_student_id
pct_overall_passing = round((overall_passing)*100,6)

* Create a dataframe to hold the above results

In [35]:
district_sum_df = pd.DataFrame(
    {"Total Schools": [total_schools],
    "Total Students": [total_student_id],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math],
    "Average Reading Score": [avg_reading],
    "% Pass Math": [pct_pass_math],
    "% Pass Reading": [pct_pass_reading],
    "% Overall Passing": [pct_overall_passing]
    })
district_sum_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

* Optional: give the displayed data cleaner formatting

In [36]:
styled_district_sum_df = district_sum_df.style.format({"Total Budget": "${:,.0f}", 
                       "Average Math Score": "{:.1f}", 
                       "Average Reading Score": "{:.1f}", 
                       "% Pass Math": "{:.2%}", 
                       "% Pass Reading": "{:.1%}", 
                       "% Overall Passing": "{:.1%}"
                             })
styled_district_sum_df

## School Summary

* Create an overview table that summarizes key metrics about each school, including:

* School Name

In [75]:
school_unique = school_data_complete.set_index('school_name').groupby(['school_name']).nunique()
school_unique

,student_id,student_name,gender,grade,reading_score,math_score,reading_grade,math_grade,school_id,school_type,size,budget
school_name,,,,,,,,,,,,
Bailey High School,4976,4799,2,4,37,45,4,5,1,1,1,1
Cabrera High School,1858,1834,2,4,31,32,4,4,1,1,1,1
Figueroa High School,2949,2886,2,4,37,45,4,5,1,1,1,1
Ford High School,2739,2676,2,4,37,45,4,5,1,1,1,1
Griffin High School,1468,1449,2,4,31,32,4,4,1,1,1,1
Hernandez High School,4635,4501,2,4,37,45,4,5,1,1,1,1
Holden High School,427,424,2,4,31,32,4,4,1,1,1,1
Huang High School,2917,2858,2,4,37,45,4,5,1,1,1,1
Johnson High School,4761,4618,2,4,37,45,4,5,1,1,1,1
Pena High School,962,955,2,4,31,32,4,4,1,1,1,1
Rodriguez High School,3999,3902,2,4,37,45,4,5,1,1,1,1
Shelton High School,1761,1738,2,4,31,32,4,4,1,1,1,1
Thomas High School,1635,1619,2,4,31,32,4,4,1,1,1,1
Wilson High School,2283,2248,2,4,31,32,4,4,1,1,1,1
Wright High School,1800,1783,2,4,31,32,4,4,1,1,1,1

  * School Type

In [76]:
school_district = school_data_complete.set_index('school_name')['school_type']

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: school_type, Length: 39170, dtype: object

  * Total Students

In [77]:
students_per_school = school_unique['student_id'].count()

  * Total School Budget

In [78]:
budget_per_school = school_data.set_index('school_name')['budget']

  * Per Student Budget

In [79]:
budget_per_student = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

  * Average Math Score

In [80]:
avg_math_per_school = school_unique['math_score'].mean()

  * Average Reading Score

In [81]:
avg_reading_per_school = school_unique['reading_score'].mean()

  * % Passing Math

In [82]:
pct_pass_math_per = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['student_id'].count()/students_per_school

  * % Passing Reading

In [83]:
pct_pass_reading_per = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['student_id'].count()/students_per_school

  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [84]:
overall_pass_per = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['student_id'].count()/students_per_school

  
* Create a dataframe to hold the above results

In [85]:
school_summary_df = pd.DataFrame(
    {"School Name": [school_unique],
    "School Type": [school_district],
    "Total Students": [students_per_school],
    "Total School Budget": [budget_per_school],
    "Per Student Budget": [budget_per_student],
    "Average Math Score": [avg_math_per_school],
    "Average Reading Score": [avg_reading_per_school],
    "% Passing Math": [pct_pass_math_per],
    "% Passing Reading": [avg_reading_per_school],
    "% Overall Passing": [overall_pass_per]
    })
school_summary_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,student_id student_nam...,school_name Huang High School District Hua...,15,school_name Huang High School 1910635 F...,school_name Huang High School 655.0 Fig...,38.066667,33.8,school_name Bailey High School 221.20000...,33.8,school_name Bailey High School 181.26666...

In [86]:
school_summary = school_summary_df.set_index("school_unique")
school_summary.head()

KeyError: "None of ['school_unique'] are in the columns"

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type