### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [3]:
#change Student ID and School ID column names to school_id and student_id. Better name conventions.
school_data=school_data.rename(columns = {'School ID':'school_id'})
school_data=school_data.rename(columns = {'type':'school_type'})
student_data=student_data.rename(columns = {'Student ID':'student_id'})

In [4]:
# Create the bins to hold grade values and a grade names list hold the associated grading letter   
grade_bins = [0, 59.9, 69.9, 79.9, 89.9, 100]

# Create the names for the five bins
grade_names = ["F", "D", "C", "B", "A"]

In [5]:
#Student Data with letter grades. This was for my own logic understanding and interest.
student_data["reading_grade"] = pd.cut(student_data["reading_score"], grade_bins, labels=grade_names, include_lowest=True)
student_data["math_grade"] = pd.cut(student_data["math_score"], grade_bins, labels=grade_names, include_lowest=True)
s

In [21]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

    school_id            school_name school_type  size   budget
0           0      Huang High School    District  2917  1910635
1           1   Figueroa High School    District  2949  1884411
2           2    Shelton High School     Charter  1761  1056600
3           3  Hernandez High School    District  4635  3022020
4           4    Griffin High School     Charter  1468   917500
5           5     Wilson High School     Charter  2283  1319574
6           6    Cabrera High School     Charter  1858  1081356
7           7     Bailey High School    District  4976  3124928
8           8     Holden High School     Charter   427   248087
9           9       Pena High School     Charter   962   585858
10         10     Wright High School     Charter  1800  1049400
11         11  Rodriguez High School    District  3999  2547363
12         12    Johnson High School    District  4761  3094650
13         13       Ford High School    District  2739  1763916
14         14     Thomas High School     Charter  1635  1043130

## District Summary

* Calculate the total number of schools

In [7]:
total_schools = school_data['school_name'].nunique()
total_schools

15

* Calculate the total number of students

In [8]:
total_student_id = student_data['student_id'].nunique()
total_student_id

39170

* Calculate the total budget

In [9]:
total_budget = school_data['budget'].sum()
total_budget

24649428

* Calculate the average math score

In [10]:
avg_math = round(student_data['math_score'].mean(), 6)
avg_math

78.985371

 * Calculate the average reading score

In [11]:
avg_reading = round(student_data['reading_score'].mean(), 6)
avg_reading

81.87784

* Calculate the percentage of students with a passing math score (70 or greater)

In [12]:
###### Find the percentage of math students scoring above 70%
studs_passing_math = student_data.loc[student_data['math_score'] >= 70]['math_score'].count()
#pct_pass_math = round((studs_passing_math/total_student_id).sum()*100, 1).astype(str) + '%'
pct_pass_math = round((studs_passing_math/total_student_id).sum()*100,6)
pct_pass_math

74.980853

* Calculate the percentage of students with a passing reading score (70 or greater)

In [13]:
#Find the percentage of reading students scoring above 70%
studs_passing_reading = student_data.loc[student_data['reading_score'] >= 70]['reading_score'].count()
#pct_pass_reading = round((studs_passing_reading/total_student_id).sum()*100, 1).astype(str) + '%'
pct_pass_reading = round((studs_passing_reading/total_student_id).sum()*100,6)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

In [14]:
overall_passing = student_data[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)]['student_id'].count()/total_student_id
pct_overall_passing = round((overall_passing)*100,6)

* Create a dataframe to hold the above results

In [15]:
district_sum_df = pd.DataFrame(
    {"Total Schools": [total_schools],
    "Total Students": [total_student_id],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math],
    "Average Reading Score": [avg_reading],
    "% Pass Math": [pct_pass_math],
    "% Pass Reading": [pct_pass_reading],
    "% Overall Passing": [pct_overall_passing]
    })
district_sum_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

* Optional: give the displayed data cleaner formatting

In [16]:
styled_district_sum_df = district_sum_df.style.format({"Total Budget": "${:,.0f}", 
                       "Average Math Score": "{:.1f}", 
                       "Average Reading Score": "{:.1f}", 
                       "% Pass Math": "{:.2%}", 
                       "% Pass Reading": "{:.1%}", 
                       "% Overall Passing": "{:.1%}"
                             })
styled_district_sum_df

## School Summary

* Create an overview table that summarizes key metrics about each school, including:

* School Name

In [ ]:
school_unique = school_data_complete.set_index('school_name').groupby(['school_name'])

  * School Type

In [ ]:
school_district = schools_df.set_index('school_name')['school_type']

  * Total Students

In [ ]:
school_students = school_unique['student_id'].count()

  * Total School Budget

In [ ]:
budget_per_school = school_data.set_index('school_name')['budget']

  * Per Student Budget

In [ ]:
budget_per_school = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

  * Average Math Score

In [ ]:
avg_math_per_school = school_unique['math_score'].mean()

  * Average Reading Score

In [ ]:
avg_reading_per_school = school_unique['reading_score'].mean()

  * % Passing Math

  * % Passing Reading

  * % Overall Passing (The percentage of students that passed math **and** reading.)

  
* Create a dataframe to hold the above results

In [20]:
#School_Name = school_data["school_name"]
#School_Type = school_data["school_type"]
#Total_Students = student_data["school_type"]
school_summary_df = school_data_complete.filter(['school_type','B','D'], axis=1)
school_summary_df = school_data_complete.set_index("school_name")
school_summary_df.head()

,student_id,student_name,gender,grade,reading_score,math_score,reading_grade,math_grade,school_id,school_type,size,budget
school_name,,,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,D,C,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,A,D,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,A,D,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,D,F,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,A,B,0,District,2917,1910635

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type