### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [28]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [18]:
#change Student ID and School ID column names to school_id and student_id. Better name conventions.
school_data=school_data.rename(columns = {'School ID':'school_id'})
school_data=school_data.rename(columns = {'type':'school_type'})
student_data=student_data.rename(columns = {'Student ID':'student_id'})

In [20]:
# Create the bins to hold grade values and a grade names list hold the associated grading letter   
grade_bins = [0, 59.9, 69.9, 79.9, 89.9, 100]

# Create the names for the five bins
grade_names = ["F", "D", "C", "B", "A"]

In [21]:
#Student Data with letter grades. This was for my own logic understanding and interest.
student_data["reading_grade"] = pd.cut(student_data["reading_score"], grade_bins, labels=grade_names, include_lowest=True)
student_data["math_grade"] = pd.cut(student_data["math_score"], grade_bins, labels=grade_names, include_lowest=True)

In [25]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

In [8]:
total_schools = school_data['school_name'].nunique()
total_schools

15

* Calculate the total number of students

In [9]:
total_student_id = student_data['student_id'].nunique()
total_student_id

39170

* Calculate the total budget

In [10]:
total_budget = school_data['budget'].sum()
total_budget

24649428

* Calculate the average math score

In [13]:
avg_math = round(student_data['math_score'].mean(), 6)
avg_math

78.985371

 * Calculate the average reading score

In [14]:
avg_reading = round(student_data['reading_score'].mean(), 6)
avg_reading

81.87784

* Calculate the percentage of students with a passing math score (70 or greater)

In [15]:
###### Find the percentage of math students scoring above 70%
studs_passing_math = student_data.loc[student_data['math_score'] >= 70]['math_score'].count()
#pct_pass_math = round((studs_passing_math/total_student_id).sum()*100, 1).astype(str) + '%'
pct_pass_math = round((studs_passing_math/total_student_id).sum()*100,6)
pct_pass_math

74.980853

* Calculate the percentage of students with a passing reading score (70 or greater)

In [16]:
#Find the percentage of reading students scoring above 70%
studs_passing_reading = student_data.loc[student_data['reading_score'] >= 70]['reading_score'].count()
#pct_pass_reading = round((studs_passing_reading/total_student_id).sum()*100, 1).astype(str) + '%'
pct_pass_reading = round((studs_passing_reading/total_student_id).sum()*100,6)
pct_pass_reading

85.805463

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

In [76]:
pct_overall_passing = overall_pass = students_data[(students_data['math_score'] >= 70) & (students_data['reading_score'] >= 70)]['name'].count()/total_student_id
pct_overall_passing

80.4

* Create a dataframe to hold the above results

In [78]:
district_sum_df = pd.DataFrame(
    {"total_schools": [total_schools],
    "total_students": [total_student_id],
    "total_budget": [total_budget],
    "average_math_score": [avg_math],
    "average_reading_score": [avg_reading],
    "percent_pass_math": [pct_pass_math],
    "percent_pass_reading": [pct_pass_reading],
    "overall_passing": [pct_overall_passing]})
district_sum_df

,total_schools,total_students,total_budget,average_math_score,average_reading_score,percent_pass_math,percent_pass_reading,overall_passing
0,15,39170,24649428,79.0,81.9,75.0,85.8,80.4

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [84]:
#School_Name = school_data["school_name"]
#School_Type = school_data["school_type"]
#Total_Students = student_data["school_type"]

school_index = []
school_sum_df = pd.DataFrame(
    {"School_Type": [school_data['school_type']]


    }),
index = [for row in school_data['school_name']]
school_sum_df

SyntaxError: invalid syntax (<ipython-input-84-73f73303c499>, line 11)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type