### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [2]:
#change Student ID and School ID column names to school_id and student_id. Better name conventions.
school_data=school_data.rename(columns = {'School ID':'school_id'})
student_data=student_data.rename(columns = {'Student ID':'student_id'})

In [3]:
# Create the bins to hold grade values and a grade names list hold the associated grading letter
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
grade_bins = [0, 59.9, 69.9, 79.9, 89.9, 100]

# Create the names for the five bins
grade_names = ["F", "D", "C", "B", "A"]

In [4]:
student_data["reading_grade"] = pd.cut(student_data["reading_score"], grade_bins, labels=grade_names, include_lowest=True)
student_data["math_grade"] = pd.cut(student_data["math_score"], grade_bins, labels=grade_names, include_lowest=True)

In [5]:
student_reading_score_group = student_data.groupby("reading_grade")
student_reading_score_group.max()

,student_id,student_name,gender,grade,school_name,reading_score,math_score,math_grade
reading_grade,,,,,,,,
F,NaN,None,None,None,None,NaN,NaN,NaN
D,39146.0,Zoe Mcmillan,M,9th,Wright High School,69.0,99.0,A
C,39167.0,Zoe Henry,M,9th,Wright High School,79.0,99.0,A
B,39160.0,Zoe Meyer,M,9th,Wright High School,89.0,99.0,A
A,39169.0,Zoe Mayer,M,9th,Wright High School,99.0,99.0,A

In [6]:
student_math_score_group = student_data.groupby("math_grade")
student_math_score_group.min()

,student_id,student_name,gender,grade,school_name,reading_score,math_score,reading_grade
math_grade,,,,,,,,
F,3,Aaron Clark,F,10th,Bailey High School,63,55,D
D,1,Aaron Aguilar,F,10th,Bailey High School,63,60,D
C,0,Aaron Atkinson,F,10th,Bailey High School,63,70,D
B,4,Aaron Anderson,F,10th,Bailey High School,63,80,D
A,5,Aaron Acosta,F,10th,Bailey High School,63,90,D

In [9]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [10]:
#give thousands seperators to the budget column for easier reading
school_data_complete['budget']=school_data_complete['budget'].apply('{:,}'.format)

## District Summary

* Calculate the total number of schools

In [16]:
total_schools = school_data['school_name'].nunique()
total_schools

15

* Calculate the total number of students

In [17]:
total_student_id = student_data['student_id'].nunique()
total_student_id

39170

* Calculate the total budget

In [21]:
total_budget = school_data['budget'].sum()
total_budget

24649428

* Calculate the average math score

In [22]:
avg_math = round(student_data['math_score'].mean(), 1)
avg_math

79.0

 * Calculate the average reading score

In [23]:
avg_reading = round(student_data['reading_score'].mean(), 1)
avg_reading

81.9

* Calculate the percentage of students with a passing math score (70 or greater)

In [24]:
#find the amount of each math letter grade for all students
s = student_data.math_grade
counts = s.value_counts()
counts

C    9848
A    9791
B    9731
D    6841
F    2959
Name: math_grade, dtype: int64

In [33]:
math_percent = s.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
math_percent

C    25.1%
A    25.0%
B    24.8%
D    17.5%
F     7.6%
Name: math_grade, dtype: object

In [38]:
#Find the percentage of math students scoring above 70%
studs_passing_math = student_data.loc[student_data['math_score'] >= 70]['math_score'].count()
perc_pass_reading = round((studs_passing_math/total_student_names).sum()*100, 2).astype(str) + '%'
perc_pass_reading

'74.98%'

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type